/* =================== LOGIN PAGE STYLES =================== */

.login-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background: #fff; /* white background */
  color: #000; /* black text */
}

.login-container h1,
.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000;
}

.login-container h2 {
  font-size: 1.1rem;
  margin-top: 2rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #000;
}

.login-container input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  color: #000;
}

.login-container input:focus {
  outline: none;
  border-color: #000;
}

.login-container button {
  padding: 0.75rem;
  background-color: #eee;
  color: #000000;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-container button:hover {
  background-color: #333; /* a dark grey for hover */
  color: #eee;
}

.google-button {
  background-color: #eee;
  color: #000;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.google-button:hover {
  background-color: #333;
  color: #fff;
}
.center-button {
  text-align: center;
  margin-bottom: 1.5rem;
}
.login-container p {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  text-align: center;
  color: #000000;
}

.login-container a {
  color: #000000;
  text-decoration: underline;
}

.login-container a:hover {
  color: #333;
}
